<link href="https://fonts.googleapis.com/css?family=Tauri" rel="stylesheet">

<div>
    <a class="a_link_no_deco" href="{% url 'baseapp:main_create_log_in' %}">
        <div class="logo_whole_wrapper">
            <div class="logo_outer_wrapper">
                <div class="logo_outer">
                </div>
            </div>
            <div class="logo_inner_wrapper">
                <div class="logo_inner">
                </div>
            </div>
        </div>
        <div class="logo_text"><h1>Macawl</h1></div>
    </a>
</div>
