<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    {% include 'authapp/_header_title.html' %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% include 'others/header_static.html' %}
    {% include 'others/header_metas.html' %}
    {% load static from staticfiles %}

    <script defer src="{% static 'js/validation_create.js' %}"></script>
</head>
<body>
{% include 'others/bootstrap_tester.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            {% include 'authapp/_logo.html' %}
        </div>
    </div>
    <div class="row">
        <div class="padding_10"></div>
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            <div class="col-sm-offset-2 col-sm-10 padding_right_0 padding_left_0">
                <form method="post" action=".">
                    {% csrf_token %}
                    <div class="col-sm-5 form-group">
                        {{ log_in_form.username }}
                    </div>
                    <div class="col-sm-5 form-group">
                        {{ log_in_form.password }}
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-default pull-right login-form" name="type" value="log_in">
                            Login
                        </button>

                        <p class="text-primary pull-right desktop_display_none text_forgot_password text_forgot_password_mobile">
                            <a href="{% url 'authapp:password_reset' %}">forgot password?</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mobile_display_none">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                <div class="col-sm-10 padding_right_0">
                    <p class="text-primary text-right text_forgot_password">
                        <a href="{% url 'authapp:password_reset' %}">forgot password?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if clue_log_in %}
            <p class="text-primary text-center word_wrap_break_word">{{ clue_log_in.message }}</p>
        {% endif %}
    </div>
    <div class="row">
        <div class="desktop_display_none">
            <div class="padding_10"></div>
            <div class="padding_10"></div>
            <div class="padding_10"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">

            <div class="col-sm-7">
                <div class="mobile_display_none padding_35"></div>
                <div class="mobile_display_none padding_35"></div>
                <div class="mobile_display_none padding_35"></div>
                <p><h3>It is to make logging url.</h3></p>
                <p><h3>You can make your website log.</h3></p>
            </div>
            <div class="col-sm-5">
                <div class="mobile_display_none padding_35"></div>
                <div class="mobile_display_none padding_35"></div>
                <div class="desktop_display_none padding_10"></div>
                <p class="h3">Register</p>
                <form method="post" action="." onsubmit="return validate_base();">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ create_form.name }}
                    </div>
                    <div class="form-group">
                        {{ create_form.username }}
                    </div>
                    <div class="form-group">
                        {{ create_form.email }}
                    </div>

                    <div class="row">
                        <div class="col-xs-9">
                            <p class="text-primary word_wrap_break_word" id="p_clue">{% if clue %}{{ clue.message }}{% endif %}</p>
                        </div>
                        <div class="col-xs-3">
                            <button id="btn_submit" type="submit" class="btn btn-default pull-right" name="type" value="create_first">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>
</script>
</html>