<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    {% include 'authapp/_header_title.html' %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% include 'others/header_static.html' %}
    {% load static from staticfiles %}

    <script defer src="{% static 'js/validation_create.js' %}"></script>


</head>
<body>
{% include 'others/bootstrap_tester.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            {% include 'authapp/_logo.html' %}
        </div>
    </div>
    <div class="row">
        <div class="padding_10"></div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 clickable">
            <div class="row">
                <a href="{% url 'baseapp:main_create_log_in' %}">
                    <div class="h2 clickable main_background_color" align="center">Return to Login</div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="desktop_display_none">
            <div class="padding_10"></div>
            <div class="padding_10"></div>
            <div class="padding_10"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">

            <div class="col-sm-12">
                <div class="mobile_display_none padding_35"></div>
                <div class="mobile_display_none padding_35"></div>
                <p class="h3">{% if clue %}{{ clue.message }}{% endif %}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>