<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Demo</title>
    {% include 'others/header_static.html' %}
    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.js' %}"></script>



    <link href="https://fonts.googleapis.com/css?family=Tauri" rel="stylesheet">
    {% if user.is_authenticated %}
    {% else %}
    {% endif %}

    <style>

    </style>


</head>
<body class="light_background_color height_100">
<!--navbar start-->
{% include 'baseapp/_navbar.html' %}
<!--popover 유용하게 쓸 수 있을 것 같다-->

<!--navbar for search start jquery로 이 navbar 자체를 지웠다 열었다 함 + affix 설정 알아보기 fixed-top 옵션 때문에 어디에 추가하건 위치는 같게 나올 것이다.-->
<!--필요한설정:

비밀번호변경
유저네임변경
메일변경
팔로우 항상허용 혹은 비허용-비공개

네임변경
프로필사진변경

회원정지
회원탈퇴

-->
<!--navbar end-->

<div class="container-fluid margin_top_50">
    <div class="row" style="">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
            <div class="row">
                <div class="div_base" style="">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="h4" style="" align="center"><span
                                    class="padding_5"
                                    style="">Account settings</span></p> <!--여기 이름, 사진, 유저네임, 이메일, 팔로우차단, 차단유저, 팔로잉공개, (글이 완성된 상황일 경우 - )팔로워공개 혹은 전체공개, 아이디검색, 이름검색, 검색허용  -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="h4">Name change</p>
                            <p class="h5" id="p_name_desc">You can change your name.</p>
                            <p class="h5"><b>Current: </b><span id="span_current_name" style="white-space: pre-wrap">{{ request.user.usertextname.name }}</span></p>
                        </div>
                        <div class="col-xs-9 padding_top_5">
                            <div class="input-group-lg">
                                <input class="width_100_i" id="input_name" placeholder="name input" type="text">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <p class="h4"><a href="#"><span id="span_name"
                                    class="clickable padding_5 pastel_bc3">change</span></a></p> <!--여기 이름, 사진, 유저네임, 이메일, 팔로우차단, 차단유저, 팔로잉공개, (글이 완성된 상황일 경우 - )팔로워공개 혹은 전체공개, 아이디검색, 이름검색, 검색허용  -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="h4">Username(ID) change</p>
                            <p class="h5">Username(ID) can be changed.</p>
                            <p class="h5"><b>Current: </b><span id="span_current_username" style="white-space: pre-wrap">{{ request.user.userusername.username }}</span></p>
                            <p class="h5" id="p_username_desc">Username is unique</p>
                        </div>
                        <div class="col-xs-9 padding_top_5">
                            <div class="input-group-lg">
                                <input class="width_100_i" id="input_username" placeholder="username input" type="text">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <p class="h4"><a href="#"><span id="span_username"
                                    class="clickable padding_5 pastel_bc2">change</span></a></p> <!--여기 이름, 사진, 유저네임, 이메일, 팔로우차단, 차단유저, 팔로잉공개, (글이 완성된 상황일 경우 - )팔로워공개 혹은 전체공개, 아이디검색, 이름검색, 검색허용  -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="h4">Email change</p>
                            <p class="h5">After you change your email, confirmation email have to be checked in 10min.</p>
                            <p class="h5"><b>Current: </b><span id="span_current_email" style="white-space: pre-wrap">{{ request.user.userprimaryemail.email }}</span></p>
                            <p class="h5" id="p_email_desc">Unless you confirm your email in 10min, It won't be changed.</p>
                        </div>
                        <div class="col-xs-9 padding_top_5">
                            <div class="input-group-lg">
                                <input class="width_100_i" id="input_email" placeholder="email input" type="text">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <p class="h4"><a href="#"><span id="span_email"
                                    class="clickable padding_5 pastel_bc1">change</span></a></p> <!--여기 이름, 사진, 유저네임, 이메일, 팔로우차단, 차단유저, 팔로잉공개, (글이 완성된 상황일 경우 - )팔로워공개 혹은 전체공개, 아이디검색, 이름검색, 검색허용  -->
                        </div>
                    </div>
                    {% if not user.userprimaryemail.is_permitted %}
                    <div class="row email_token_resend" id="email_token_send">
                        <div class="col-xs-12">
                            <p class="h4" id="p_resend_desc">Current you are not permitted. You should permit your email.</p>
                        </div>
                        <div class="col-xs-9 padding_top_5">
                            <p class="h4">Email Authentication Token Resend to ({{ user.userprimaryemail.email }})</p>
                        </div>
                        <div class="col-xs-3">
                            <p class="h4"><a href="#"><span
                                    class="clickable padding_5 pastel_bc1" id="span_resend">Resend</span></a></p> <!--여기 이름, 사진, 유저네임, 이메일, 팔로우차단, 차단유저, 팔로잉공개, (글이 완성된 상황일 경우 - )팔로워공개 혹은 전체공개, 아이디검색, 이름검색, 검색허용  -->
                        </div>
                        <div class="col-xs-12">
                            <p class="h4 text-danger"></p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="h4" style="" align="center"><a href="#"><span
                                    class="clickable padding_5"
                                    style="background-color: #eff0ac;">Other Account settings Change</span></a></p> <!--여기 이름, 사진, 유저네임, 이메일, 팔로우차단, 차단유저, 팔로잉공개, (글이 완성된 상황일 경우 - )팔로워공개 혹은 전체공개, 아이디검색, 이름검색, 검색허용  -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="h4" style="" align="center"><a href="{% url 'authapp:password_change' %}"><span
                                    class="clickable pastel_bc1 padding_5">Password Change</span></a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="h4" style="" align="center"><a href="{% url 'authapp:deactivate_user' %}"><span
                                    class="clickable pastel_bc2 padding_5">Deactivate account</span></a></p>
                        </div>
                        <div class="col-xs-12">
                            <p class="h4" style="" align="center"><a href="{% url 'authapp:delete_user' %}"><span
                                    class="clickable pastel_bc3 padding_5">Delete account</span></a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
<script defer>
    $(function () {
    var val_name, val_username, val_email;

        $('#span_name').click(function (e) {
            e.preventDefault();
            val_name = $('#input_name').val();
            $.ajax({
                url:'/re_settings/ajax/',
                type:'post',
                dataType:'json',
                cache:false,
                data:{
                    command: 'name',
                    name: val_name,
                },
                success:function (data) {
                    if (data.res === 1){
                        $('#span_current_name').html(data.name);
                        $('#p_name_desc').html(data.message);
                        $('#input_name').val('');
                    } else if (data.res === 0){
                        $('#p_name_desc').html(data.message);
                    }
                }
            });
        })

        $('#span_username').click(function (e) {
            e.preventDefault();
            val_username = $('#input_username').val();
            $.ajax({
                url:'/re_settings/ajax/',
                type:'post',
                dataType:'json',
                cache:false,
                data:{
                    command: 'username',
                    username: val_username,
                },
                success:function (data) {
                    console.log(data)
                    if (data.res === 1){
                        $('#span_current_username').html(data.username);
                        $('#p_username_desc').html(data.message);
                        $('#input_username').val('');
                    } else if (data.res === 0){
                        $('#p_username_desc').html(data.message);
                    }
                }
            });
        });

        $('#span_email').click(function (e) {
            e.preventDefault();
            val_email = $('#input_email').val();
            $.ajax({
                url:'/re_settings/ajax/',
                type:'post',
                dataType:'json',
                cache:false,
                data:{
                    command: 'email',
                    email: val_email,
                },
                success:function (data) {
                    console.log(data)
                    if (data.res === 1){
                        $('#p_email_desc').html(data.email);
                        $('#input_email').val('');
                    } else if (data.res === 0){
                        $('#p_email_desc').html(data.message);
                    }
                }
            });
        })

        $(document).on('click', '#span_resend', function (e) {
            e.preventDefault();
            var save_this = $(this);
            var middle_this = $('<span class="loader display_inline_block"></span>');
            $(this).replaceWith(middle_this)
            $.ajax({
                url:'/re_settings/ajax/',
                type:'post',
                dataType:'json',
                cache:false,
                data:{
                    command: 'email_resend',
                },
                success:function (data) {
                    console.log(data)
                    if (data.res === 1){
                        $('#p_resend_desc').html(data.email);
                        middle_this.replaceWith(save_this)
                    } else if (data.res === 0){
                        $('#p_resend_desc').html(data.message);
                    }
                }
            });
        })
    })
</script>

</html>