<div class="modal_reading_chat" id="modal_reading_chat">
    <div class="reading_chat_left" align="left">
        <div class="reading_chat_img" style="min-width: 50px; display: inline-block; vertical-align: top">
            <img class="img_small" src="http://static.news.zumst.com/images/111/2018/01/10/39832329eef6467b94ee5b390ffd348f.jpg">
        </div>
        <div class="reading_chat_text" style="display:inline-block; width: 60%">
            <div class="reading_chat_left_name">욜로욜로욜로요~</div>
            <div class="reading_chat_left_text" style="background-color: orange; padding: 5px">욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요~</div>

        </div>
        <div class="reading_like" style="display: inline-block; vertical-align: bottom;">
            <div class="reading_chat_left_name">
                <div style="white-space:pre-wrap; word-wrap: break-word; max-width: 100%; font-size: 12px;"><span class="glyphicon glyphicon-heart"></span><span style="font-size: 10px"> 102000k</span></div>
            </div>
        </div>
    </div>
    <div class="reading_chat_right" align="right">
        <div class="reading_like" style="display: inline-block; vertical-align: bottom;">
            <div class="reading_chat_left_name">
                <div style="white-space:pre-wrap; word-wrap: break-word; max-width: 100%; font-size: 12px;"><span class="glyphicon glyphicon-heart"></span><span style="font-size: 10px"> 102000k</span></div>
            </div>
        </div>
        <div class="reading_chat_text" style="display:inline-block; width: 60%">
            <div class="reading_chat_left_name">욜로욜로욜로요~</div>
            <div class="reading_chat_left_text" style="background-color: orange; padding: 5px">욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요~</div>

        </div>

        <div class="reading_chat_img" style="min-width: 50px; display: inline-block; vertical-align: top;">
            <img class="img_small" src="http://static.news.zumst.com/images/111/2018/01/10/39832329eef6467b94ee5b390ffd348f.jpg">
        </div>
    </div>
    <div class="reading_chat_left" align="left" style="background-color: lightgreen; font-size: 12px">
        <div class="reading_chat_img" style="min-width: 50px; display: inline-block; vertical-align: top">
            <img class="img_small" src="http://static.news.zumst.com/images/111/2018/01/10/39832329eef6467b94ee5b390ffd348f.jpg">
        </div>
        <div class="reading_chat_text" style="display:inline-block; width: 60%">
            <div class="reading_chat_left_name">욜로욜로욜로요~</div>
            <div class="reading_chat_left_text" style="background-color: lightgray; padding: 5px">욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요~</div>

        </div>
        <div class="reading_like" style="display: inline-block; vertical-align: bottom;">
            <div class="reading_chat_left_name">
                <div style="white-space:pre-wrap; word-wrap: break-word; max-width: 100%; font-size: 12px;"><span class="glyphicon glyphicon-heart"></span><span style="font-size: 10px"> 102000k</span></div>
            </div>
        </div>
    </div>

</div>
<div class="modal_reading_interaction" id="modal_reading_interaction" align="center">
    <div style="background-color: yellow; height: 70px; padding-top: 20px">
        <span class="glyphicon glyphicon-play" style="font-size: 30px;"></span><span style="vertical-align: top;">qwlkdjqlwkdjqwlkdjqwlkd</span>
    </div>
    <!--
    <div class="modal_reading_form_inner_wrapper">
        <form class="modal_reading_form">
        <div class="input-group input-group-sm modal_reading_form_input_wrapper">
            <textarea class="form-control modal_reading_form_textarea" placeholder="message"></textarea>
            <div class="input-group-btn">
                <button class="btn btn-default modal_reading_from_textarea_button" type="submit"><i
                        class="glyphicon glyphicon-send"></i></button>
            </div>
        </div>
        </form>
    </div>
    -->
</div>