<div class="modal fade" id="modal_register">
    <div class="modal-dialog modal-dialog_menu">
      <div class="modal-content modal-content_menu">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="h4" align="center">There is no keyword, is it okay?</div>
            <a href=""><div align="center" class="clickable register_yes" id="pass_register">Yes</div></a>
            <a href=""><div align="center" class="clickable register_cancel" data-dismiss="modal">Cancel</div></a>
        </div>

      </div>
    </div>
</div>