 <div class="reading_chat_left" align="left">
                        <div class="reading_chat_img">
                            <img class="img_small" src="http://static.news.zumst.com/images/111/2018/01/10/39832329eef6467b94ee5b390ffd348f.jpg">
                        </div>
                        <div class="reading_chat_content">
                            <div class="reading_chat_name">욜로욜로욜로요~</div>
                            <div class="reading_chat_text">욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요~</div>
                        </div>
                        <div class="reading_like_wrapper">
                            <span class="glyphicon glyphicon-heart reading_like"></span><span class="reading_like_text" style=""> </span><span class="reading_like_text">102000k</span>
                        </div>
                    </div>

                    <div><span class="glyphicon glyphicon-comment reading_chat_rest_messages">10</span></div>

                    <div class="reading_chat_right" align="right">
                        <div class="reading_like_wrapper">
                            <span class="glyphicon glyphicon-heart reading_like"></span><span class="reading_like_text" style=""> </span><span class="reading_like_text">102000k</span>
                        </div>
                        <div class="reading_chat_content">
                            <div class="reading_chat_name">욜로욜로욜로요~</div>
                            <div class="reading_chat_text">욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요욜로욜로욜로요~</div>

                        </div>

                        <div class="reading_chat_img">
                            <img class="img_small" src="http://static.news.zumst.com/images/111/2018/01/10/39832329eef6467b94ee5b390ffd348f.jpg">
                        </div>
                    </div>

                    <div class="reading_chat_right" align="right">
                        <div class="reading_like_wrapper">
                            <span class="glyphicon glyphicon-heart reading_like"></span><span class="reading_like_text" style=""> </span><span class="reading_like_text">102000k</span>
                        </div>
                        <div class="reading_chat_content">
                            <div class="reading_chat_name">욜로욜로욜로요~</div>
                            <div><img class="reading_chat_img" src="https://lh5.googleusercontent.com/-AW0OXT3lU_0/VGFIvdFewbI/AAAAAAAAkiU/s0wd-K57WDY/s288/20141110-947.jpg"></div>
                        </div>
                        <div class="reading_chat_img">
                            <img class="img_small" src="http://static.news.zumst.com/images/111/2018/01/10/39832329eef6467b94ee5b390ffd348f.jpg">
                        </div>
                    </div>
                    <div class="reading_chat_rest" align="right">

                        <div class="reading_like_wrapper">
                            <span class="glyphicon glyphicon-heart reading_like"></span><span class="reading_like_text" style=""> </span><span class="reading_like_text">102000k</span>
                        </div>

                        <div class="reading_chat_content">
                            <div class="reading_chat_rest_name">욜로욜로욜로요~</div>
                            <div class="reading_chat_rest_text">욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~</div>

                        </div>
                        <div class="reading_chat_img">
                            <img class="img_small" src="http://static.news.zumst.com/images/111/2018/01/10/39832329eef6467b94ee5b390ffd348f.jpg">
                        </div>
                        <div align="right"><span class="reading_chat_rest_messages_delete">delete</span></div>

                    </div>

                    <div class="reading_chat_rest" align="right">

                        <div class="reading_like_wrapper">
                            <span class="glyphicon glyphicon-heart reading_like"></span><span class="reading_like_text" style=""> </span><span class="reading_like_text">102000k</span>
                        </div>

                        <div class="reading_chat_content">
                            <div class="reading_chat_rest_name">욜로욜로욜로요~</div>
                            <div class="reading_chat_rest_text">욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~</div>

                        </div>
                        <div class="reading_chat_img">
                            <img class="img_small" src="http://static.news.zumst.com/images/111/2018/01/10/39832329eef6467b94ee5b390ffd348f.jpg">
                        </div>
                    </div>
                    <div class="reading_chat_rest_just_added" align="right">

                        <div class="reading_like_wrapper">
                            <span class="glyphicon glyphicon-heart reading_like"></span><span class="reading_like_text" style=""> </span><span class="reading_like_text">102000k</span>
                        </div>

                        <div class="reading_chat_content">
                            <div class="reading_chat_rest_name">욜로욜로욜로요~</div>
                            <div class="reading_chat_rest_text">욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~욜로욜로욜로요~</div>

                        </div>
                        <div class="reading_chat_img">
                            <img class="img_small" src="http://static.news.zumst.com/images/111/2018/01/10/39832329eef6467b94ee5b390ffd348f.jpg">
                        </div>
                    </div>