<div class="modal fade" id="modal_feed_menu">
    <div class="modal-dialog modal-dialog_menu">
      <div class="modal-content modal-content_menu">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-body_menu" id="modal_feed_menu_content">
            <div align="center">
                <input type="text" id="modal_feed_input" class="modal_feed_menu_input">
            </div>
            <div align="center" class="margin_top_15">
              <a href=""><span class="clickable padding_5 link_copy" id="modal_feed_menu_copy">copy link</span></a>
            </div>
            <div align="center" class="margin_top_15">
              <a href=""><span class="clickable padding_5 link_locate" id="modal_feed_menu_locate">move to link</span></a>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="modal_post_liking">
    <div class="modal-dialog modal-dialog_menu">
      <div class="modal-content modal-content_menu">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal_follow_wrapper" id="modal_post_liking_wrapper">
            <div align="center">likes</div>
            <div id="modal_post_liking_list">

            </div>
            <a href=""><div class="hidden" align="center" id="modal_post_liking_more">more</div></a>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="modal_post_follow">
    <div class="modal-dialog modal-dialog_menu">
      <div class="modal-content modal-content_menu">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal_follow_wrapper" id="modal_post_follow_wrapper">
            <div align="center">followers</div>
            <div id="modal_post_follow_list">

            </div>
            <a href=""><div class="hidden" align="center" id="modal_post_follow_more">more</div></a>
        </div>
      </div>
    </div>
</div>