<nav class="navbar navbar-default navbar-fixed-top navbar_base">
    <div class="container-fluid padding_right_0">
        <ul class="nav navbar-nav navbar_ul_base">
            <li><a class="padding_15_i" href="#"><i class="glyphicon glyphicon-comment"></i></a></li>
            <li><a class="padding_15_i" href="#"><i class="glyphicon glyphicon-list-alt"></i></a></li>
            <li id="nav_div_ul_li_bsearch"><a class="padding_15_i" href="#"><i
                    class="glyphicon glyphicon-user"></i></a></li>
            <li>
                <form class="navbar-form navbar-left mobile_display_none margin_top_bottom_10">
                    <div class="input-group input-group-sm">
                        <input class="form-control" placeholder="Search" id="searchbar_desktop" type="text">
                        <div class="input-group-btn">
                            <i class="btn btn-default"><i class="glyphicon glyphicon-search"></i>
                            </i>
                        </div>
                    </div>
                </form>
            </li>

            <li class="nav_li_last_options dropdown">
                <a href="#" class="padding_15_i dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-option-horizontal"></i>
                </a>
                <ul class="dropdown-menu dropdown_menu_base dropdown_menu_base_style"
                    >
                    <li><a href="{% url 'authapp:settings' %}">Settings</a></li>
                    <li><a href="{% url 'authapp:log_out' %}">Log out</a></li>
                </ul>
            </li>


        </ul>
    </div>
</nav>