<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Demo</title>
    {% include 'others/header_static.html' %}
    {% include 'others/favicon.html' %}

    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/a_selected.js' %}"></script>
    <script src="{% static 'js/nav_badge.js' %}"></script>

    <script src="{% static 'js/post_profile_upload_photo.js' %}"></script>

    <link rel="stylesheet" href="{% static 'cropper/cropper.min.css' %}">
    <script src="{% static 'cropper/cropper.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Tauri" rel="stylesheet">
    {% if user.is_authenticated %}
    {% else %}
    {% endif %}

    <style>

    </style>


</head>
<body class="light_background_color height_100">
<!--navbar start-->
{% include 'baseapp/_navbar.html' %}

<!--navbar end-->
<!--page info-->
{% include 'others/bootstrap_tester.html' %}

<div class="hidden" id="page_kind" data-u="create_new"></div>
<div class="hidden" id="last_num" data-u=""></div>

{% if user.is_authenticated %}
    <div class="hidden" id="num" data-u="{{ user.username }}"></div>
{% endif %}
{% if post %}
    <div class="hidden" id="post_pk" data-u="{{ post.pk }}"></div>
{% endif %}
<!--page info end -->

<div class="container-fluid margin_top_50">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="row" id="content">
                <!--여기서 modal -->

                <div class="row div_base">
                    <div align="center"><span class="new_post_heading">Post Created</span></div>
                    <br>
                    <br>
                    <br>

                    {% if post.has_title %}
                        <div align="left"><span class="padding_5 created_title">Title: </span>
                            <span class="created_title_content" style="">{{ post.posttitle.title }}</span></div>
                    {% endif %}
                    {% if post.has_description %}
                        <div align="left"><span class="padding_5 created_description">Description: </span>
                            <span class="created_description_content"
                                  style="">{{ post.postdescription.description }}</span></div>
                    {% endif %}
                    {% if post.has_another_profile %}

                        <div align="left"><span class="padding_5 created_description">Profile name: </span>
                            <span class="created_description_content">{{ post.postprofile.name }}</span></div>
                        <br>
                        <br>
                        <div align="center">
                            <img class="img_300_300" id="img_300" src="{{ post.postprofile.file_300_url }}">
                        </div>
                        <div align="center">
                            <p class="h4"><a href="#"><span class="clickable padding_5 main_background_color"
                                                            id="span_change_photo">Change</span></a> <a href="#"><span
                                    class="clickable padding_5 main_background_color"
                                    id="span_base_reset">BaseReset</span></a></p>
                        </div>
                    {% endif %}
                    <!--여기는 프로필 사진 -->
                    <br>
                    <br>
                    <br>
                    <br>
                    <div align="center"><span class="open_or_close">Add your first chat?</span></div>

                    <div class="chat_preview" id="chat_preview">
                        <div class="chat_preview_wrapper">
                            <div class="chat_preview_size">
                                <div><span class="chat_preview_name">Someone</span></div>
                                <div class="chat_preview_someone_saying">
                                    ljaslkfjwlekfjwjaslkfjwlekfjwjaslkfjwlekfjwjaslkfjwlekfjwjaslkfjwlekfjwjaslkfjwlekfjwjaslkfjwlekfjwjaslkfjwlekfjw
                                </div>
                                <div class="chat_preview_delete_wrapper" align="right"><a href=""><span class="chat_preview_delete clickable">delete</span></a></div>
                            </div>
                        </div>
                        <div class="chat_preview_wrapper" align="right">
                            <div class="chat_preview_size">
                                <div><span class="chat_preview_name">You</span></div>
                                <div class="chat_preview_you_saying">
                                </div>
                                <div class="chat_preview_delete_wrapper" align="left"><a href=""><span class="chat_preview_delete clickable">delete</span></a></div>
                            </div>
                        </div>

                        <div class="chat_preview_wrapper" align="right">
                            <div class="chat_preview_size">
                                <div><span class="chat_preview_name">You</span></div>
                                <div align="right">
                                    <img class="chat_preview_img" src="http://image.sportsseoul.com/2018/02/27/news/20180227153436_cats.jpg">
                                </div>
                                <div class="chat_preview_delete_wrapper" align="left"><a href=""><span class="chat_preview_delete clickable">delete</span></a></div>
                            </div>
                        </div>

                        <div class="chat_preview_wrapper" align="left">
                            <div class="chat_preview_size">
                                <div><span class="chat_preview_name">Someone</span></div>
                                <div align="left">
                                    <img class="chat_preview_img" src="http://image.sportsseoul.com/2018/02/27/news/20180227153436_cats.jpg">
                                </div>
                                <div class="chat_preview_delete_wrapper" align="right"><a href=""><span class="chat_preview_delete clickable">delete</span></a></div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="col-xs-6">
                        <div align="center">
                            <a href="">
                                <div class="clickable padding_5 main_background_color choice_selected" id="you_say">
                                    You Says
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div align="center">
                            <a href="">
                                <div class="clickable padding_5 main_background_color choice_unselected"
                                     id="someone_says">
                                    Someone Says
                                </div>
                            </a>
                        </div>
                    </div>
                    <div align="center">
                        <form class="padding_top_5">
                            <div align="center"><a href="#"><span class="glyphicon glyphicon-picture add_photo" id="add_photo"></span></a></div>
                            <div class="input-group input-group-sm chat_detail_wrapper">
                                <textarea class="form-control chat_detail_textarea" placeholder="Message"></textarea>
                                <div class="input-group-btn">
                                    <button class="btn btn-default chat_detail_send" id="btn_add"><i
                                            class="glyphicon glyphicon-send"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-xs-6">
                        <a href="">
                            <div class="clickable padding_5 choice_selected" id="open" align="center">open</div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="">
                            <div class="clickable padding_5 choice_unselected" id="close" align="center">close</div>
                        </a>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-xs-12">
                        <div align="center"><a href="">
                            <div class="clickable padding_5 main_background_color write_new_post" id="ok">OK</div>
                        </a></div>

                    </div>
                </div>
                <!--ajax는 ajax고 websocket은 websocket 이다. 둘을 분리한다. 구버전 브라우저는 포기해 일단 채팅과 알림만 websocket 쓴다.-->

            </div>
        </div>
    </div>
</div>

<!-- MODAL TO CROP THE IMAGE -->
<div class="modal fade" id="modal_crop" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Crop the photo</h4>
            </div>
            <div class="modal-body padding_0">
                <img src="" id="img_crop" class="max_width_100p">
            </div>
            <div class="modal-footer">
                <div class="btn-group pull-left" role="group">
                    <button type="button" class="btn btn-default js-zoom-in">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                    <button type="button" class="btn btn-default js-zoom-out">
                        <span class="glyphicon glyphicon-zoom-out"></span>
                    </button>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary js-crop-and-upload">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL TO CROP THE IMAGE -->
<div class="modal fade" id="modal_chat" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Crop the photo</h4>
            </div>
            <div class="modal-body padding_0" align="center">
                <img src="" id="img_chat" class="max_width_100p">
            </div>
            <div class="modal-footer">
                <div class="btn-group pull-left" role="group">
                    <button type="button" class="btn btn-default js-zoom-in">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                    <button type="button" class="btn btn-default js-zoom-out">
                        <span class="glyphicon glyphicon-zoom-out"></span>
                    </button>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary chat-upload">Save</button>
            </div>
        </div>
    </div>
</div>
<img src="" id="img_chat_hidden" class="max_width_100p hidden">

<div class="modal fade" id="modal_base_reset">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Reset Profile image?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btn_base_reset_ok">OK</button>
            </div>
        </div>
    </div>
</div>
<form class="hidden" method="post" enctype="multipart/form-data" id="form_upload">
    <input type="file" name="file" id="input_file" accept="image/jpeg, image/png" required>
</form>

<form class="hidden" method="post" enctype="multipart/form-data" id="chat_upload">
    <input type="file" name="file" id="input_chat_file" accept="image/jpeg, image/png" required>
</form>

</body>
<script>

    $(function () {


        $(".chat-upload").click(function () {
            var cropData = cropper.getData();

            var form_file = $('#chat_upload')[0];
            var form_data = new FormData(form_file);
            form_data.append('rotate', cropData["rotate"]);
            form_data.append('post_pk', $('#post_pk').attr('data-u'));

            $.ajax({
                url: '/re/create/new/chat_photo/',
                type: 'post',
                dataType: 'json',
                cache: false,
                processData: false,
                contentType: false,
                data: form_data,
                success: function (data) {
                    $("#modal_crop").modal("hide");
                    if (data.res === 1) {
                        console.log(data.content)

                    }
                }
            });
        });
        var someone_saying = ''
        $('textarea').on("keypress", function (e) {
            /* ENTER PRESSED*/
            if (e.keyCode == 13 && !e.shiftKey) {
                var text = $('textarea').val()

                $.ajax({
                    url: '/re/create/new/text/',
                    type: 'post',
                    dataType: 'json',
                    cache: false,
                    data: {
                        you_say: you_say,
                        text: text,
                        post_pk: $('#post_pk').attr('data-u')
                    },
                    success: function (data) {
                        console.log(data)
                        if (data.res === 1) {
                            if (data.content.you_say === true) {
                                alert('hey')
                                var chat_preview = $('<div class="chat_preview_wrapper" align="right">\n' +
                                    '<div class="chat_preview_size">\n' +
                                    '<div><span class="chat_preview_name">You</span></div>\n' +
                                    '<div class="chat_preview_you_saying">\n' + data.content.text +
                                    '</div>\n' +
                                    '<div class="chat_preview_delete_wrapper" align="left"><a href=""><span class="chat_preview_delete clickable" data-u="'+data.content.id+'" >delete</span></a></div>\n' +
                                    '</div>\n' +
                                    '</div>')
                                chat_preview.find('.chat_preview_delete').on('click', function (e) {
                                    e.preventDefault()
                                    alert('removed: '+$(this).attr('data-u'))
                                })
                                $('#chat_preview').append(chat_preview)

                            } else {

                            }
                        }
                    }
                });

                $(this).val('')
                return false;
            }
        });
        $('#btn_add ').click(function (e) {
            e.preventDefault()
            var text = $('textarea').val()

            $('textarea').val('')

        });

        $('#ok').click(function () {
            $.ajax({
                url: 're/create/new/',
                type: 'post',
                dataType: 'json',
                cache: false,
                processData: false,
                contentType: false,
                data: {
                    open: open,
                    post_pk: $('#post_num').attr('data-u')
                },
                success: function (data) {
                    console.log(data)
                    if (data.res === 1) {
                        $('#img_300').attr('src', data.url)
                    }
                }
            });
        })
    })
</script>
</html>