<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Demo</title>
    {% include 'others/header_static.html' %}
    {% include 'others/favicon.html' %}

    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/a_selected.js' %}"></script>
    <script src="{% static 'js/nav_badge.js' %}"></script>

    <script src="{% static 'js/generate_uuid.js' %}"></script>

    <link rel="stylesheet" href="{% static 'cropper/cropper.min.css' %}">
    <script src="{% static 'cropper/cropper.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Tauri" rel="stylesheet">
    {% if user.is_authenticated %}
    {% else %}
    {% endif %}

    <style>

    </style>


</head>
<body class="light_background_color height_100">
{% include 'baseapp/_navbar.html' %}

{% include 'others/bootstrap_tester.html' %}

{% if user.is_authenticated %}
    <div class="hidden" id="user_id">{{ user.username }}</div>
{% else %}
    <div class="hidden" id="user_id"></div>
{% endif %}
    <div class="hidden" id="discrete_loc"></div>
    <div class="hidden" id="discrete_scheme"></div>
    <div class="hidden" id="in_not_301"></div>
    <div class="hidden" id="is_discrete"></div>
    <div class="hidden" id="loc"></div>
    <div class="hidden" id="scheme"></div>
    <div class="hidden" id="title"></div>
    <div class="hidden" id="url"></div>
    <div class="hidden" id="init_url"></div>

<div class="container-fluid margin_top_50">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="row" id="content">

                <div class="row div_base">
                    <div class="url_check_wrapper" id="url_check_wrapper">
                        <div align="center"><span class="register">Register</span></div>
                        <br>
                        <div class="input-group-lg">
                            <input class="url_input" id="url_input" placeholder="your url" type="url">
                        </div>
                        <div class="url_clue_wrapper"><span class="url_clue" id="url_clue"></span></div>
                        <br>
                        <div align="center"><a href=""><span class="clickable check_url" id="check">check</span></a></div>
                    </div>
                    <div class="url_example_wrapper" id="url_example_wrapper">

                    </div>
                    <div class="add_keyword_wrapper hidden" id="add_keyword_wrapper">

                        <div class="add_keyword_content">
                            <div class="add_keyword_title" id="add_keyword_title"></div>
                            <div class="add_keyword_url" id="add_keyword_url"></div>
                        </div>
                        <div class="h3" align="center">add keywords</div>
                        <div class="input-group-lg">
                            <input class="keyword_input" id="keyword_input" placeholder="add keyword" type="text">
                        </div>
                        <div class="keyword_clue_wrapper"><span class="keyword_clue" id="keyword_clue"></span></div>
                        <br>
                        <div align="center"><a href=""><span class="add_keyword clickable" id="add_keyword">add</span></a></div>

                        <br>
                        <div class="h4" align="center">your keywords</div>
                        <div class="added_keyword_container" id="added_keyword_container"></div>

                        <br>
                        <div align="center"><a href=""><span class="complete_keyword clickable" id="complete_keyword">complete</span></a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% include 'baseapp/_modal_no_keyword.html' %}
</body>

<script>
    $(function () {

        $('#check').click(function (e) {
            if ($('#check').html() === 'waiting...'){
                return false
            }
            e.preventDefault()
            $('#url_example_wrapper').empty()
            var url = $('#url_input').val()

            if (url.replace(/ /g,'')==='') {
                $('#url_clue').html('url cannot be empty')

                return false
            }
            $('#url_clue').html('')
            $('#first_url').html('')
            $('#check').html('waiting...')
            $.ajax({
                url:'/re/check/url/', type:'post', dataType:'json', cache:false,
                data:{
                    url: url
                },
                success:function (data) {
                    $('#check').html('check')
                    console.log(data)
                    if (data.res === 1){
                        if ($('#url_example_wrapper').hasClass('hidden')){
                            $('.url_example_wrapper').removeClass('hidden')
                        }
                        var append_array = []

                        $.each(data.output, function (key, value) {
                            if (value.in_not_301 === 'true'){
                                append_array.push(value)
                                // 이러면 뒤로 가야 한다.
                            } else {
                                append_array.unshift(value)
                            }
                        })
                        $.each(append_array, function (key, value) {
                            var appender = $('<a href="">' +
                                '<div class="url_example clickable">' +
                                '<div class="url_example_title">'+value.title+'</div>' +
                                '<div class="url_example_url">'+value.url+'</div>' +
                                '</div>' +
                                '</a>')
                            appender.on('click', function (e) {
                                e.preventDefault()
                                if(value.user_has_it !== 'false'){
                                    var scheme = window.location.protocol == "https:" ? "https://" : "http://";
                                    var update_location = scheme + window.location.host + "/update/url/" + data.id + '/';
                                    location.href=update_location
                                }
                                $('#discrete_loc').html(value.loc)
                                $('#discrete_scheme').html(value.discrete_scheme)
                                $('#in_not_301').html(value.in_not_301)
                                $('#is_discrete').html(value.is_discrete)
                                $('#loc').html(value.loc)
                                $('#scheme').html(value.scheme)
                                $('#title').html(value.title)
                                $('#url').html(value.url)
                                $('#add_keyword_title').html(value.title)
                                $('#add_keyword_url').html(value.url)
                                $('#url_check_wrapper').remove()
                                $('#url_example_wrapper').remove()
                                $('#init_url').html(data.init_url)

                                if ($('#add_keyword_wrapper').hasClass('hidden')){
                                    $('#add_keyword_wrapper').removeClass('hidden')
                                }
                            })
                            $('#url_example_wrapper').append(appender)
                        })
                        $('#url_example_wrapper').append()

                    } else if (data.res === 0){
                        if(data.message === 'unable'){
                            $('#url_clue').html('url is unable to check')
                        }
                    }

                }
            });

        })
        $('#add_keyword').click(function (e) {
            e.preventDefault()
            var input = $.trim($('#keyword_input').val())

            if (input.replace(/ /g,'')==='') {
                $('#keyword_clue').html('keyword cannot be empty')

                return false
            }
            if (input.length > 2048){
                $('#keyword_clue').html('keyword is too long')
                return false
            }
            var exist = false
            if($('.added_keyword').length > 30){
                $('#keyword_clue').html('keyword count cannot be over 30')
                return false
            }

            $('.added_keyword').each(function () {
                if(input===$(this).html()){
                    exist = true
                }
            })
            if(exist===true){
                $('#keyword_clue').html('keyword cannot be the same')

                return false
            }

            var uuid = generate_uuid()
            var added_keyword = $('<span class="added_keyword_wrapper" id="added_keyword_wrapper_'+uuid+'"><span class="added_keyword">'+input+'</span><a href=""><span class="glyphicon glyphicon-remove keyword_delete"></span></a></span>')

            added_keyword.find('.keyword_delete').on('click', function (e) {
                e.preventDefault()
                $('#added_keyword_wrapper_'+uuid).remove()
            })
            $('#added_keyword_container').append(added_keyword)
            $('#keyword_input').val('')
            $('#keyword_clue').html('')

        })
        $('#complete_keyword').click(function (e) {
            if ($('.added_keyword').length === 0){
                $('#modal_register').modal('show')
                return false
            }
            e.preventDefault()
            var send_array = []
            $('.added_keyword').each(function () {
                send_array.push($(this).html())
            })
            $.ajax({
                url:'/re/register/url/', type:'post', dataType:'json', cache:false,
                data:{
                    discrete_loc : $('#discrete_loc').html(),
                    discrete_scheme: $('#discrete_scheme').html(),
                    in_not_301: $('#in_not_301').html(),
                    is_discrete: $('#is_discrete').html(),
                    loc: $('#loc').html(),
                    scheme: $('#scheme').html(),
                    title: $('#title').html(),
                    url: $('#url').html(),
                    init_url: $('#init_url').html(),
                    keyword_list: send_array
                },
                success:function (data) {
                    if (data.res === 1){
                        var scheme = window.location.protocol == "https:" ? "https://" : "http://";
                        var update_location = scheme + window.location.host + "/update/url/" + data.id + '/';
                        location.href=update_location
                    }
                }
            });

        })
        $('#pass_register').click(function (e) {
            e.preventDefault()
            $('.added_keyword').each(function () {
                send_array.push($(this).html())
            })
            $.ajax({
                url:'/re/register/url/', type:'post', dataType:'json', cache:false,
                data:{
                    discrete_loc : $('#discrete_loc').html(),
                    discrete_scheme: $('#discrete_scheme').html(),
                    in_not_301: $('#in_not_301').html(),
                    is_discrete: $('#is_discrete').html(),
                    loc: $('#loc').html(),
                    scheme: $('#scheme').html(),
                    title: $('#title').html(),
                    url: $('#url').html(),
                    init_url: $('#init_url').html(),
                    keyword_list: send_array
                },
                success:function (data) {
                    if (data.res === 1){
                        var scheme = window.location.protocol == "https:" ? "https://" : "http://";
                        var update_location = scheme + window.location.host + "/update/url/" + data.id + '/';
                        location.href=update_location
                    }
                }
            });
        })
        // added keywords 는 $('.added_keyword').length 를 이용해 30개를 맥스로 하자. 수정시에도 이걸 이용하면 편할 것이다.
        // 그리고 수정시엔 keyword to add 랑 keyword to delete 를 만들고 그 아래 컴플릿을 해서 장고 서버에서도 다루기 쉽게 하자.
        // F 카운터 걸어서 중복제거시에도 제거 안되게 하면 됨 .


    });

</script>
</html>