<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>macawl update url</title>
    {% include 'others/header_static.html' %}
    {% include 'others/favicon.html' %}
    {% include 'others/header_metas.html' %}

    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/a_selected.js' %}"></script>

    <script src="{% static 'js/generate_uuid.js' %}"></script>
    <script src="{% static 'js/update_url.js' %}"></script>

    <link rel="stylesheet" href="{% static 'cropper/cropper.min.css' %}">
    <script src="{% static 'cropper/cropper.min.js' %}"></script>

</head>
<body class="light_background_color height_100">
{% include 'baseapp/_navbar.html' %}

{% include 'others/bootstrap_tester.html' %}

<div class="hidden" id="id">{{ id }}</div>
{% if user.is_authenticated %}
    <div class="hidden" id="user_id">{{ user.username }}</div>
    <div class="hidden" id="user_username">{{ user.userusername.username }}</div>
{% else %}
    <div class="hidden" id="user_id"></div>
    <div class="hidden" id="user_username"></div>
{% endif %}
<div class="hidden" id="refresh">false</div>
<div class="hidden" id="status_code"></div>
<div class="hidden" id="title"></div>

<div class="container-fluid margin_top_50">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="row" id="content">

                <div class="row div_base">
                    <div class="add_keyword_wrapper" id="add_keyword_wrapper">

                        <div class="add_keyword_content">
                            <div class="add_keyword_title" id="add_keyword_title"></div>
                            <div class="add_keyword_url" id="add_keyword_url"></div>
                        </div>
                        <br>
                        <div align="center"><a href=""><span class="add_keyword clickable" id="refresh_title">refresh title</span></a>
                        </div>

                        <div class="h3" align="center">add keywords</div>
                        <div class="input-group-lg">
                            <input class="keyword_input" id="keyword_input" placeholder="add keyword" type="text">
                        </div>
                        <div class="keyword_clue_wrapper"><span class="keyword_clue" id="keyword_clue"></span></div>
                        <br>
                        <div align="center"><a href=""><span class="add_keyword clickable"
                                                             id="add_keyword">add</span></a></div>

                        <br>
                        <div class="h4" align="center">keywords</div>
                        <div class="added_keyword_container" id="added_keyword_container"></div>

                        <br>
                        <div class="h4" align="center">These will be deleted</div>
                        <div class="deleted_keyword_container" id="deleted_keyword_container"></div>

                        <br>
                        <div align="center"><a href=""><span class="complete_keyword clickable" id="complete_keyword">complete</span></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% include 'baseapp/_modal_no_keyword.html' %}
</body>
</html>