<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Demo</title>
    {% include 'others/header_static.html' %}
    {% include 'others/favicon.html' %}

    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/a_selected.js' %}"></script>
    <script src="{% static 'js/nav_badge.js' %}"></script>
    <script src="{% static 'js/date_differ.js' %}"></script>
    <script src="{% static 'js/url_populate.js' %}"></script>

</head>
<body class="light_background_color height_100">
{% include 'baseapp/_navbar.html' %}
{% include 'others/bootstrap_tester.html' %}
<div class="hidden" id="page_kind"></div>

{% if user.is_authenticated %}
    <div class="hidden" id="user_id">{{ user.username }}</div>
{% else %}
    <div class="hidden" id="user_id"></div>
{% endif %}
<div class="hidden" id="id">{{ id }}</div>
<div class="hidden" id="link_source">/url/{{ id }}/</div>

<!--page info end -->

<div class="container-fluid margin_top_50">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="row" id="content">
                <div class="row div_base">
                    <div align="right"><a href=""><span class="glyphicon glyphicon-option-horizontal" id="pop_menu"></span></a></div>
                    <a href="{{ url_object.get_url }}" target="_blank" rel="noopener noreferrer">
                        <div>
                            <div class="url_info_title_wrapper">
                                <span class="url_info_title">{{ url_object.title_set.last.text }}</span>
                            </div>
                            <div class="url_info_url_wrapper">
                                <span class="url_info_url">{{ url_object.get_url }}</span>
                            </div>
                        </div>
                    </a>
                    <div id="keyword_list"></div>
                    <a href=""><div class="hidden" id="keyword_more">more load</div></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'baseapp/_modal_url_populate.html' %}

</body>

</html>