<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Demo</title>
    {% include 'others/header_static.html' %}
    {% include 'others/favicon.html' %}

    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/nav_badge.js' %}"></script>
    <script src="{% static 'js/a_selected.js' %}"></script>
    <script src="{% static 'js/date_differ.js' %}"></script>
    <script src="{% static 'js/home_populate.js' %}"></script>
    <script src="{% static 'js/modal_resize.js' %}"></script>
    <script src="{% static 'js/modal_feed_menu.js' %}"></script>
    <script src="{% static 'js/modal_opens.js' %}"></script>
    <script src="{% static 'js/modal_reading.js' %}"></script>

    <script src="{% static 'js/nav_badge_populate.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Tauri" rel="stylesheet">
    {% if user.is_authenticated %}
    {% else %}
    {% endif %}
</head>
<body class="light_background_color height_100">
<!--navbar start-->
{% include 'baseapp/_navbar.html' %}

<!--navbar end-->
<!--page info-->
{% include 'others/bootstrap_tester.html' %}

<div class="hidden" id="page_kind">home</div>
<div class="hidden" id="last_num" data-u=""></div>
<div class="hidden" id="post_last_id"></div>

<div class="hidden" id="clicked_post_id"></div>

<div class="hidden" id="reading_post_id"></div>
<div class="hidden" id="reading_post_profile_photo"></div>
<div class="hidden" id="reading_post_user_id"></div>
<div class="hidden" id="reading_post_profile_name"></div>
<div class="hidden" id="reading_post_chat_last_id"></div>
<div class="hidden" id="reading_post_chat_before_id"></div>
<div class="hidden" id="reading_post_chat_next_id"></div>
<div class="hidden" id="post_liking_next_id"></div>
<div class="hidden" id="post_follow_next_id"></div>
<div class="hidden" id="post_chat_liking_next_id"></div>
<div class="hidden" id="post_chat_rest_liking_next_id"></div>
<div class="hidden" id="clicked_post_chat_id"></div>
<div class="hidden" id="clicked_post_chat_rest_id"></div>
{% if user.is_authenticated %}
    <div class="hidden" id="user_id" data-u="{{ user.username }}">{{ user.username }}</div>
{% else %}
    <div class="hidden" id="user_id" data-u=""></div>
{% endif %}
<!--page info end -->

<div class="container-fluid margin_top_50">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="row">
                <div align="center"><a href="{% url 'baseapp:register_url' %}"><div class="clickable padding_5 main_background_color write_new_post">Write New Post</div></a></div>
                <!--여기서 modal -->
                <div id="content"></div>
                <div class="hidden" align="center" id="home_feed_more_load"><a href=""><div class="clickable padding_5 main_background_color write_new_post">More Load</div></a></div>

            </div>
        </div>
    </div>
</div>
{% include 'baseapp/_modal_reading.html' %}
{% include 'baseapp/_modal_post.html' %}
{% include 'baseapp/_modal_need_login.html' %}
</body>
<script>
    $(function () {
        $.ajax({url:'/re/home/feed/', type:'post', dataType:'json', cache:false,
            data:{
                last_id: $('#post_last_id').html()
            },
            success:function (data) {
            $.each(data.set, function (key, value) {
                var string = value.id
                var appender = '<div class="row div_base" id="post_div_'+value.id+'">' +
                    '<script defer>' +
                    '    home_populate("'+value.id+'")' +
                    '<'+'/script></div>'

                $('#content').append(appender)
                $('#post_last_id').html(value.id)

            })
                if (data.last === null){
                    $('#home_feed_more_load').addClass('hidden')
                } else {
                    $('#home_feed_more_load').removeClass('hidden')
                }

            }
        })

        $('#home_feed_more_load').click(function (e) {
            e.preventDefault()
            $.ajax({url:'/re/home/feed/', type:'post', dataType:'json', cache:false,
                data:{
                    last_id: $('#post_last_id').html()
                },
                success:function (data) {
                $.each(data.set, function (key, value) {
                    var string = value.id
                    var appender = '<div class="row div_base" id="post_div_'+value.id+'">' +
                        '<script defer>' +
                        '    home_populate("'+value.id+'")' +
                        '<'+'/script></div>'
                    $('#content').append(appender)
                    $('#post_last_id').html(value.id)
                })
                    if (data.last === null){
                        $('#home_feed_more_load').addClass('hidden')
                    } else {
                        $('#home_feed_more_load').removeClass('hidden')
                    }

                }
            })
        })

    })
</script>

<script>
</script>


</html>