<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Demo</title>
    {% include 'others/header_static.html' %}
    {% include 'others/favicon.html' %}

    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/a_selected.js' %}"></script>
    <script src="{% static 'js/nav_badge.js' %}"></script>

    <script src="{% static 'js/date_differ.js' %}"></script>
    <script src="{% static 'js/user_search.js' %}"></script>
</head>
<body class="light_background_color height_100">
<!--navbar start-->
{% include 'baseapp/_navbar.html' %}

<!--navbar end-->
<!--page info-->
{% include 'others/bootstrap_tester.html' %}
<div class="hidden" id="search_word">{{ word }}</div>
<div class="hidden" id="end_id"></div>
<div class="hidden" id="order">0</div>
{% if user.is_authenticated %}
    <div class="hidden" id="user_id">{{ user.username }}</div>
{% else %}
    <div class="hidden" id="user_id"></div>
{% endif %}
<div class="hidden" id="chosen_user_id">{{ chosen_user.username }}</div>

<!--page info end -->
<div class="container-fluid margin_top_50">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="row">
                <div class="h3">keyword result</div>
                <div id="content_result_keyword"></div>
                <a href="">
                    <div class="hidden clickable" align="center" id="more_load_keyword">more load</div>
                </a>

                <div class="h3">registered result</div>
                <div id="content_result_suobj"></div>
                <a href="">
                    <div class="hidden clickable" align="center" id="more_load_suobj">more load</div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>