<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>macawl {{ chosen_user.userusername.username }}</title>
    {% include 'others/header_static.html' %}
    {% include 'others/favicon.html' %}
    <meta name="keywords" content="macawl, bookmark, favorite, keyword, search, {{ chosen_user.userusername.username }}"/>
    <meta name="author" content="{{ chosen_user.userusername.username }}"/>
    <meta name="title" content="macawl {{ chosen_user.userusername.username }}"/>
    <meta name="description" content="make your bookmark"/>

    <meta property="og:url" content="https://www.macawl.com{{ request.get_full_path }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="macawl {{ chosen_user.userusername.username }}"/>
    <meta property="og:site_name" content="macawl"/>
    <meta property="og:description" content="make your bookmark"/>

    <meta property="og:image" content="{{ chosen_user.userphoto.file_300_url }}"/>

    <meta name="twitter:image" content="{{ chosen_user.userphoto.file_300_url }}">

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@macawl"/>
    <meta name="twitter:creator" content="@{{ chosen_user.userusername.username }}">

    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/a_selected.js' %}"></script>
    <script src="{% static 'js/nav_badge.js' %}"></script>
    <script src="{% static 'js/suobj_populate.js' %}"></script>
    <script src="{% static 'js/bridger_bridging.js' %}"></script>
    <script src="{% static 'js/date_differ.js' %}"></script>
    <script src="{% static 'js/user_profile.js' %}"></script>


</head>
<body class="light_background_color height_100">
{% include 'baseapp/_navbar.html' %}

{% include 'others/bootstrap_tester.html' %}
<div class="hidden" id="page_kind">user</div>

<div class="hidden" id="chosen_user_id">{{ chosen_user.username }}</div>
<div class="hidden" id="chosen_user_username">{{ chosen_user.userusername.username }}</div>
{% if user.is_authenticated %}
    <div class="hidden" id="user_id">{{ user.username }}</div>
{% else %}
    <div class="hidden" id="user_id"></div>
{% endif %}
<div class="hidden" id="suobj_to_delete"></div>
<div class="hidden" id="last_suobj_id"></div>

<!--page info end -->

<div class="container-fluid margin_top_50">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="row" id="content">
                <div class="row div_base">
                    <div align="center">
                        <img class="img_300_300" src="{{ chosen_user.userphoto.file_300_url }}">
                    </div>

                    <div align="center"><span class="pro_name">{{ chosen_user.usertextname.name }}</span></div>
                    <div align="center"><span class="pro_username">{{ chosen_user.userusername.username }}</span></div>

                    <div class="row">
                        <div class="col-xs-6" align="right"><span class="pro_bridge_label">bridging: </span>
                            <a href="#"><span class="pro_bridge_count"
                                              id="count_bridging">{{ chosen_user.bridgingcount.count }}</span></a>
                        </div>
                        <div class="col-xs-6" align="left"><span class="pro_bridge_label">bridgers: </span>
                            <a href="#"><span class="pro_bridge_count"
                                              id="count_bridger">{{ chosen_user.bridgercount.count }}</span></a>
                        </div>
                    </div>

                    {% if bridging == None %}
                        <a href="">
                            <div class="hidden" align="center" id="bridge">
                                <span class="clickable pro_bridge" id="bridge_text">bridge</span>
                            </div>
                        </a>
                    {% else %}
                        <a href="">
                            <div class="hidden" align="center" id="bridge">
                                <span class="clickable pro_bridge" id="bridge_text">bridging <span
                                        class="glyphicon glyphicon-ok"></span></span>
                            </div>
                        </a>
                    {% endif %}
                    <br/>
                    <div align="center">
                        <form>
                            <div class="input-group input-group-sm">
                                <textarea class="form-control pro_textarea" id="profile_search_textarea"
                                          placeholder="search at {{ chosen_user.userusername.username }}"></textarea>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" id="profile_search_btn">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="user_profile_suobj_list"></div>
                <a href="">
                    <div class="more_load hidden" id="more_load" align="center">more load</div>
                </a>
            </div>
        </div>
    </div>
</div>

{% include 'baseapp/_modal_suobj_delete.html' %}
{% include 'baseapp/_modal_populate.html' %}
{% include 'baseapp/_modal_bridge.html' %}

</body>

</html>