<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Demo</title>
    {% include 'others/header_static.html' %}
    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.js' %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Tauri" rel="stylesheet">
    {% if user.is_authenticated %}
    {% else %}
    {% endif %}

    <style>

    </style>


</head>
<body class="light_background_color height_100">
<!--navbar start-->
{% include 'baseapp/_navbar.html' %}

<!--navbar end-->
<div class="container-fluid" style="margin-top: 50px;">
    <div class="row"  style="">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
            <div class="row" id="main_content">
                <div class="row div_base" style="border: 3px solid;">
                    <div class="col-xs-10">
                        <p class="h4" style="">Password Change</p>
                    </div>

                    <div class="col-xs-2">
                        <p class="h5" style="float: right;"><a class="" href="#"><span class="clickable" style="background-color: green; color: white; padding: 10px;">heydd</span></a></p>
                    </div>
                </div>
                <div class="row div_base" style="border: 3px solid; margin-right: 0px; margin-left: 0px;">
                    <div class="col-xs-10">
                        <p class="h4" style="">Password Change</p>
                    </div>

                    <div class="col-xs-2">
                        <p class="h5" style="float: right;"><a class="" href="#"><span class="clickable" style="background-color: green; color: white; padding: 10px;">heydd</span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script>

    $(function () {

    });
</script>
</html>