<meta name="keywords" content="macawl, bookmark, favorite, keyword, search"/>
<meta name="author" content="macawl"/>
<meta name="title" content="macawl"/>
<meta name="description" content="make your bookmark"/>

<meta property="og:url" content="https://www.macawl.com{{ request.get_full_path }}"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="macawl"/>
<meta property="og:site_name" content="macawl"/>
<meta property="og:description" content="make your bookmark"/>

<meta property="og:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png"/>

<meta name="twitter:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png">

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@macawl"/>
<meta name="twitter:creator" content="@macawl">